spring:
  application:
    name: budget-server
  datasource:
    url: jdbc:postgresql://localhost:5432/budget_db
    username: budget
    password: budget1234
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
    show-sql: true
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
      encoding: UTF-8
  config:
    import: "optional:file:.env[.properties]" # .env파일을 설정값으로 가져옴

server:
  port: 8080

jwt:
  secret: ${SECRET_KEY}

gemini:
  api:
    url: ${GEMINI_API_URL}
    key: ${GEMINI_API_KEY}
